<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Virob</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="css/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="css/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="css/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Main Wrapper Start Here -->
    <div class="wrapper">

        <!-- Main Header Area Start Here -->
        <header>
            <!-- Header Top Start Here -->
            <div class="header-top-area">
                <div class="container">
                    <!-- Header Top Start -->
                    <div class="header-top">
                        <ul class="top_menu">
                            <li><a href="#">sell on Virob</a></li>
                            <li><a href="#">CUSTOMER CARE</a></li>
                            <li><a href="#">Track my order</a></li>
                            <li><a href="#">login</a></li>
                            <li><a href="#">sign up</a></li>
                        </ul>
                    </div>
                    <!-- Header Top End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Top End Here -->
            <!-- Header Middle Start Here -->
            <div class="header-middle ptb-15  header-sticky">
                <div class="container">
                    <div class="row align-items-center no-gutters">
                        <div class="col-lg-2 col-md-12">
                            <div class="logo mb-all-30">
                                <a class="navbar-brand" href="index.html"><img src="img/logo/logo-white.png" class="white-logo" alt="">
                                  <img src="img/logo/logo.png" class="logo" alt=""></a>
                                  <div class="inner-categorie">
                                <div class="vertical-menu d-none d-lg-block">
                                   <span class="categorie-title"></span>
                                </div>
                                  <div class="vertical-menu mb-all-30">

                                      <nav>
                                          <ul class="vertical-menu-list inner-menu">
                                              <li class=""><a href="shop.html"><span><img src="img/vertical-menu/1.png" alt="menu-icon"></span>Automotive & Motorcycle<i class="fa fa-angle-right" aria-hidden="true"></i></a>

                                                  <ul class="ht-dropdown mega-child">
                                                      <li><a href="shop.html">Office chair <i class="fa fa-angle-right"></i></a>
                                                           <!-- category submenu end-->
                                                          <ul class="ht-dropdown mega-child">
                                                              <li><a href="shop.html">Bibendum Cursus</a></li>
                                                              <li><a href="shop.html">Dignissim Turpis</a></li>
                                                              <li><a href="shop.html">Dining room</a></li>
                                                              <li><a href="shop.html">Dining room</a></li>
                                                          </ul>
                                                          <!-- category submenu end-->
                                                      </li>
                                                      <li><a href="shop.html">Purus Lacus <i class="fa fa-angle-right"></i></a>
                                                           <!-- category submenu end-->
                                                          <ul class="ht-dropdown mega-child">
                                                              <li><a href="shop.html">Magna Pellentesq</a></li>
                                                              <li><a href="shop.html">Molestie Tortor</a></li>
                                                              <li><a href="shop.html">Vehicula Element</a></li>
                                                              <li><a href="shop.html">Sagittis Blandit</a></li>
                                                          </ul>
                                                          <!-- category submenu end-->
                                                      </li>
                                                      <li><a href="shop.html">Sagittis Eget</a></li>
                                                      <li><a href="shop.html">Sagittis Eget</a></li>
                                                  </ul>
                                                  <!-- category submenu end-->
                                              </li>
                                              <li><a href="shop.html"><span><img src="img/vertical-menu/3.png" alt="menu-icon"></span>Sports & Outdoors<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                  <!-- Vertical Mega-Menu Start -->
                                                  <ul class="ht-dropdown megamenu first-megamenu">
                                                      <!-- Single Column Start -->
                                                      <li class="single-megamenu">
                                                          <ul>
                                                              <li class="menu-tile">Cameras</li>
                                                              <li><a href="shop.html">Cords and Cables</a></li>
                                                              <li><a href="shop.html">gps accessories</a></li>
                                                              <li><a href="shop.html">Microphones</a></li>
                                                              <li><a href="shop.html">Wireless Transmitters</a></li>
                                                          </ul>
                                                          <ul>
                                                              <li class="menu-tile">GamePad</li>
                                                              <li><a href="shop.html">real game hd</a></li>
                                                              <li><a href="shop.html">fighting game</a></li>
                                                              <li><a href="shop.html">racing pad</a></li>
                                                              <li><a href="shop.html">puzzle pad</a></li>
                                                          </ul>
                                                      </li>
                                                      <!-- Single Column End -->
                                                      <!-- Single Column Start -->
                                                      <li class="single-megamenu">
                                                          <ul>
                                                              <li class="menu-tile">Digital Cameras</li>
                                                              <li><a href="shop.html">Camera one</a></li>
                                                              <li><a href="shop.html">Camera two</a></li>
                                                              <li><a href="shop.html">Camera three</a></li>
                                                              <li><a href="shop.html">Camera four</a></li>
                                                          </ul>
                                                          <ul>
                                                              <li class="menu-tile">Virtual Reality</li>
                                                              <li><a href="shop.html">Reality one</a></li>
                                                              <li><a href="shop.html">Reality two</a></li>
                                                              <li><a href="shop.html">Reality three</a></li>
                                                              <li><a href="shop.html">Reality four</a></li>
                                                          </ul>
                                                      </li>
                                                      <!-- Single Column End -->
                                                      <!-- Single Megamenu Image Start -->
                                                      <li class="megamenu-img">
                                                          <a href="shop.html"><img src="img/vertical-menu/sub-img1.jpg" alt="menu-image"></a>
                                                          <a href="shop.html"><img src="img/vertical-menu/sub-img2.jpg" alt="menu-image"></a>
                                                          <a href="shop.html"><img src="img/vertical-menu/sub-img3.jpg" alt="menu-image"></a>
                                                      </li>
                                                      <!-- Single Megamenu Image End -->
                                                  </ul>
                                                  <!-- Vertical Mega-Menu End -->
                                              </li>
                                              <li><a href="shop.html"><span><img src="img/vertical-menu/6.png" alt="menu-icon"></span>Fashion<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                  <!-- Vertical Mega-Menu Start -->
                                                  <ul class="ht-dropdown megamenu megamenu-two">
                                                      <!-- Single Column Start -->
                                                      <li class="single-megamenu">
                                                          <ul>
                                                              <li class="menu-tile">Men’s Fashion</li>
                                                              <li><a href="shop.html">Blazers</a></li>
                                                              <li><a href="shop.html">Boots</a></li>
                                                              <li><a href="shop.html">pants</a></li>
                                                              <li><a href="shop.html">Tops & Tees</a></li>
                                                          </ul>
                                                      </li>
                                                      <!-- Single Column End -->
                                                      <!-- Single Column Start -->
                                                      <li class="single-megamenu">
                                                          <ul>
                                                              <li class="menu-tile">Women’s Fashion</li>
                                                              <li><a href="shop.html">Bags</a></li>
                                                              <li><a href="shop.html">Bottoms</a></li>
                                                              <li><a href="shop.html">Shirts</a></li>
                                                              <li><a href="shop.html">Tailored</a></li>
                                                          </ul>
                                                      </li>
                                                      <!-- Single Column End -->
                                                  </ul>
                                                  <!-- Vertical Mega-Menu End -->
                                              </li>
                                              <li><a href="shop.html"><span><img src="img/vertical-menu/7.png" alt="menu-icon"></span>Home & Kitchen<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                  <!-- Vertical Mega-Menu Start -->
                                                  <ul class="ht-dropdown megamenu megamenu-two">
                                                      <!-- Single Column Start -->
                                                      <li class="single-megamenu">
                                                          <ul>
                                                              <li class="menu-tile">Large Appliances</li>
                                                              <li><a href="shop.html">Armchairs</a></li>
                                                              <li><a href="shop.html">Bunk Bed</a></li>
                                                              <li><a href="shop.html">Mattress</a></li>
                                                              <li><a href="shop.html">Sideboard</a></li>
                                                          </ul>
                                                      </li>
                                                      <!-- Single Column End -->
                                                      <!-- Single Column Start -->
                                                      <li class="single-megamenu">
                                                          <ul>
                                                              <li class="menu-tile">Small Appliances</li>
                                                              <li><a href="shop.html">Bootees Bags</a></li>
                                                              <li><a href="shop.html">Jackets</a></li>
                                                              <li><a href="shop.html">Shelf</a></li>
                                                              <li><a href="shop.html">Shoes</a></li>
                                                          </ul>
                                                      </li>
                                                      <!-- Single Column End -->
                                                  </ul>
                                                  <!-- Vertical Mega-Menu End -->
                                              </li>
                                              <li><a href="shop.html"><span><img src="img/vertical-menu/4.png" alt="menu-icon"></span>Phones & Tablets<i class="fa fa-angle-right" aria-hidden="true"></i>
                                              </a>
                                                  <!-- Vertical Mega-Menu Start -->
                                                  <ul class="ht-dropdown megamenu megamenu-two">
                                                      <!-- Single Column Start -->
                                                      <li class="single-megamenu">
                                                          <ul>
                                                              <li class="menu-tile">Tablet</li>
                                                              <li><a href="shop.html">tablet one</a></li>
                                                              <li><a href="shop.html">tablet two</a></li>
                                                              <li><a href="shop.html">tablet three</a></li>
                                                              <li><a href="shop.html">tablet four</a></li>
                                                          </ul>
                                                      </li>
                                                      <!-- Single Column End -->
                                                      <!-- Single Column Start -->
                                                      <li class="single-megamenu">
                                                          <ul>
                                                              <li class="menu-tile">Smartphone</li>
                                                              <li><a href="shop.html">phone one</a></li>
                                                              <li><a href="shop.html">phone two</a></li>
                                                              <li><a href="shop.html">phone three</a></li>
                                                              <li><a href="shop.html">phone four</a></li>
                                                          </ul>
                                                      </li>
                                                      <!-- Single Column End -->
                                                  </ul>
                                                  <!-- Vertical Mega-Menu End -->
                                              </li>
                                              <li><a href="shop.html"><span><img src="img/vertical-menu/6.png" alt="menu-icon"></span>TV & Video<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                                  <!-- Vertical Mega-Menu Start -->
                                                  <ul class="ht-dropdown megamenu megamenu-two">
                                                      <!-- Single Column Start -->
                                                      <li class="single-megamenu">
                                                          <ul>
                                                              <li class="menu-tile">Gaming Desktops</li>
                                                              <li><a href="shop.html">Alpha Desktop</a></li>
                                                              <li><a href="shop.html">rober Desktop</a></li>
                                                              <li><a href="shop.html">Ultra Desktop </a></li>
                                                              <li><a href="shop.html">beta desktop</a></li>
                                                          </ul>
                                                      </li>
                                                      <!-- Single Column End -->
                                                      <!-- Single Column Start -->
                                                      <li class="single-megamenu">
                                                          <ul>
                                                              <li class="menu-tile">Women’s Fashion</li>
                                                              <li><a href="shop.html">3D-Capable</a></li>
                                                              <li><a href="shop.html">Clearance</a></li>
                                                              <li><a href="shop.html">Free Shipping Eligible</a></li>
                                                              <li><a href="shop.html">On Sale</a></li>
                                                          </ul>
                                                      </li>
                                                      <!-- Single Column End -->
                                                  </ul>
                                                  <!-- Vertical Mega-Menu End -->
                                              </li>
                                               <li><a href="shop.html"><span><img src="img/vertical-menu/5.png" alt="menu-icon"></span>Beauty</a>
                                              </li>
                                              <li><a href="shop.html"><span><img src="img/vertical-menu/8.png" alt="menu-icon"></span>Fruits & Veggies</a></li>
                                              <li><a href="shop.html"><span><img src="img/vertical-menu/9.png" alt="menu-icon"></span>Computer & Laptop</a></li>
                                              <li><a href="shop.html"><span><img src="img/vertical-menu/10.png" alt="menu-icon"></span>Meat & Seafood</a></li>

                                          </ul>
                                      </nav>
                                  </div>
                              </div>
                            </div>

                        </div>

                        <!-- Categorie Search Box Start Here -->
                        <div class="col-lg-9 col-md-8 ml-auto mr-auto col-12">
                            <div class="categorie-search-box">
                                <form action="#">
                                    <input type="text" name="search" placeholder="Search for products, brands and more...">
                                    <button><i class="lnr lnr-magnifier"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Categorie Search Box End Here -->
                        <!-- Cart Box Start Here -->
                        <div class="col-lg-1 col-md-12">
                            <div class="cart-box mt-all-30">
                                <ul class="d-flex justify-content-lg-end justify-content-center align-items-center">
                                    <li><a href="#"><i class="lnr lnr-cart"></i><span class="my-cart"><span class="total-pro">2</span></span></a>
                                        <ul class="ht-dropdown cart-box-width">
                                            <li>
                                                <!-- Cart Box Start -->
                                                <div class="single-cart-box">
                                                    <div class="cart-img">
                                                        <a href="#"><img src="img/products/1.jpg" alt="cart-image"></a>
                                                        <span class="pro-quantity">1X</span>
                                                    </div>
                                                    <div class="cart-content">
                                                        <h6><a href="product.html">Printed Summer Red </a></h6>
                                                        <span class="cart-price">27.45</span>
                                                        <span>Size: S</span>
                                                        <span>Color: Yellow</span>
                                                    </div>
                                                    <a class="del-icone" href="#"><i class="ion-close"></i></a>
                                                </div>
                                                <!-- Cart Box End -->
                                                <!-- Cart Box Start -->
                                                <div class="single-cart-box">
                                                    <div class="cart-img">
                                                        <a href="#"><img src="img/products/2.jpg" alt="cart-image"></a>
                                                        <span class="pro-quantity">1X</span>
                                                    </div>
                                                    <div class="cart-content">
                                                        <h6><a href="product.html">Printed Round Neck</a></h6>
                                                        <span class="cart-price">45.00</span>
                                                        <span>Size: XL</span>
                                                        <span>Color: Green</span>
                                                    </div>
                                                    <a class="del-icone" href="#"><i class="ion-close"></i></a>
                                                </div>
                                                <!-- Cart Box End -->
                                                <!-- Cart Footer Inner Start -->
                                                <div class="cart-footer">
                                                   <ul class="price-content">
                                                       <li>Subtotal <span>$57.95</span></li>
                                                       <li>Shipping <span>$7.00</span></li>
                                                       <li>Taxes <span>$0.00</span></li>
                                                       <li>Total <span>$64.95</span></li>
                                                   </ul>
                                                    <div class="cart-actions text-center">
                                                        <a class="cart-checkout" href="checkout.html">Checkout</a>
                                                    </div>
                                                </div>
                                                <!-- Cart Footer Inner End -->
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Cart Box End Here -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Middle End Here -->
            <!-- Header Bottom Start Here -->

                <!-- Container End -->
            </div>
            <!-- Header Bottom End Here -->
        </header>

        <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="about.html">Careers</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <div class="about-us pt-50 pt-sm-60">
            <div class="container">
              <div class="section-heading text-center">
                <h2 class="mb-10 inner-title">Careers</h2>
                <div class="reen-dots wow fadeInUp justify-content-center" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
  <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
  </div>
                        </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-desc">

                            <p>Virob is growing, and we want you to be a part of our journey! As we work towards becoming the market leader in eCommerce segment, we’re always on the lookout for talented and passionate professionals to join our ever-expanding team. Virob attracts, recruits and rewards the best talent in the industry.</p>
                            <p>At Virob, we believe that a good team creates a great product, and this thought is the driving force behind our work culture. Employees come first, respect is mandatory, passion and innovation are key, and the result is that you can’t help but love your job! A career at Virob offers you growth, success and recognition. We value Creativity, Commitment, Confidence and Loyalty, and look for these qualities when recruiting.</p>
                            <p>If you are interested in joining our team, please send your resume to hr@virob.com and indicate the position to which you are applying in the subject. ATTACH YOUR RESUME, PHOTOGRAPH AND CURRENT CTC.</p>
                            <p>We will reach out to you as and when they are open, so please stay tuned.</p>
          </div>
                    </div>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Footer Area Start Here -->
        <footer class="off-white-bg2 mt-40 pt-50 bdr-top pt-sm-55">
            <!-- Footer Top Start -->
            <div class="footer-top">
                <div class="container">
                  <div class="row">
                      <!-- Single Footer Start -->
                      <div class="col-lg-2 col-md-4 col-sm-6">
                          <div class="single-footer mb-sm-40">
                              <h3 class="footer-title">POLICY</h3>
                              <div class="footer-content">
                                  <ul class="footer-list">
                                      <li><a href="return-policy.html">Return Policy</a></li>
                                      <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                      <li><a href="terms-of-sale.html">Terms of Sale</a></li>
                                      <li><a href="terms-of-use.html">Terms of Use</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- Single Footer Start -->
                      <!-- Single Footer Start -->
                      <div class="col-lg-2 col-md-4 col-sm-6">
                          <div class="single-footer mb-sm-40">
                              <h3 class="footer-title">COMPANY</h3>
                              <div class="footer-content">
                                  <ul class="footer-list">
                                      <li><a href="about.html">About Virob</a></li>
                                      <li><a href="careers.html">Careers</a></li>
                                      <li><a href="https://virob.com/affiliate" target="_blank">Be an Affiliate</a></li>
                                      <li><a href="https://paygyft.com/merchant" target="_blank">Sell on Virob</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- Single Footer Start -->
                      <!-- Single Footer Start -->
                      <div class="col-lg-2 col-md-4 col-sm-6">
                          <div class="single-footer mb-sm-40">
                              <h3 class="footer-title">HELP</h3>
                              <div class="footer-content">
                                  <ul class="footer-list">
                                      <li><a href="#">FAQs </a></li>
                                      <li><a href="shipping-and-delivery.html">Shipping & Delivery</a></li>
                                      <li><a href="#">Help Center</a></li>
                                      <li><a href="contact.html">CONTACT US</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- Single Footer Start -->
                      <!-- Single Footer Start -->
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="single-footer mb-sm-40">
                              <h3 class="footer-title">CONTACT US</h3>
                              <div class="footer-content">
                                  <ul class="footer-list address-content">
                                      <li><i class="lnr lnr-map-marker"></i> Address: 4th Floor, No. 13, Paripoorna Layout, Phase 3, Yelahanka, Bangalore - 560064</li>
                                      <li><i class="lnr lnr-envelope"></i><a href="#"> mail Us: info@virob.com </a></li>
                                      <li>
                                          <i class="lnr lnr-phone-handset"></i> Phone: +91 80 29791919
                                      </li>
                                  </ul>

                              </div>
                          </div>
                      </div>
                        </div>

                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <div class="bdr-top ptb-20 ">
                <div class="container">
                <div class="row">
              <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="payment">
              <p>Payment</p>
                <a href="#"><img class="img" src="img/payment/payment-method.svg" alt=""></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="footer-middle-content">
                      <p>Connect</p>
                          <ul class="social-footer">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus-official"></i></a></li>
                              <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                          </ul>
                  </div>
          </div></div></div></div>
            <!-- Footer Top End -->
            <!-- Footer Bottom Start -->
            <div class="footer-bottom bdr-top ptb-15">
                <div class="container">

                     <div class="copyright-text text-center">
                        <p>Copyright © 2019 <a target="_blank" href="#">Virob</a> All Rights Reserved.</p>
                     </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Footer Bottom End -->
        </footer>
        <!-- Footer Area End Here -->
    </div>
    <!-- Main Wrapper End Here -->

    <!-- jquery 3.2.1 -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="js/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="js/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="js/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="js/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="js/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="js/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="js/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="js/main.js"></script>
</body>

</html>
